<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <title>drap Down</title>
</head>
<body>

    <!-- 背景模块 -->
    <div id="background">
        <p>由Rigar浏览器内核</p>
        <p>提供支持</p>
    </div>

    <!-- 前景可下拉模块 -->
    <div id="fontground">
        <div id="header">
            <span></span>
            <p>Drop Down</p>
        </div>
        <div class="content">
            <ul>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
                <li>
                    <img src="../../static/logo.png" alt="" class="goods-pic" style="width: 25%;">
                    <div class="text">
                        <p class="title">What is Vue.js?</p>
                        <p class="description">Vue is a progressive framework</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 底部模块 -->
    <div id="bottom">
        <ul>
            <li><a href="#"><span class="img" id="home"></span><span>home</span></a></li>
            <li><a href="#"><span class="img" id="shop"></span><span>shop</span></a></li>
            <li><a href="#"><span class="img" id="list"></span><span>list</span></a></li>
            <li><a href="#"><span class="img" id="user"></span><span>user</span></a></li>
        </ul>
    </div>

    <script type="text/javascript" src="public/jquery-3.1.1.min.js"></script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <script type="text/javascript">
        // 可自定义下拉模块的样式
        // parent属性对应下拉模块的父元素，其中position，top，left三个属性无法修改
        // dropDown属性对应自定义的前景下拉模块，其中overflow属性无法修改
        var css = {
            parent: {
                position: 'absolute',
                top: 10,
                left: 10
            },
            dropDown: {
                overflow: 'hidden'
            }
        }
        var params = {
            staticElementId: 'bottom',
            cssParams: css
        }
        $('#fontground').initDropDown(params);
    </script>
</body>
</html>
