body,h1,h2,h3,h4,h5,h6,blockquote,p,pre,dl,dd,ol,ul,li,a,span,caption,th,td,form,fieldset,legend,input,button,textarea,address{margin:0;padding:0}

html,body {
	width: 100%;
	height: 100%;
}

/* 背景模块 */

#background {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	color: grey;
	background-color: black;
    z-index: -1;
}

#background p {
	padding-top: 10px;
	text-align: center;
}

#background p:first-child {
	padding-top: 40px;
}

/* 前景可下拉模块 */

#fontground {
	background-color: #fafafa;
}

#fontground p{
    width: 94%;
    height: 53px;
    background-color: white;
    margin: 7px 3%;
    padding: 5px 17px;
    box-sizing: border-box;
}

/* 底部模块 */

#bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	background-color: white;
	text-align: -webkit-center;
	z-index: 19920220;
	box-shadow: 0 11px 53px -5px black;
}

#bottom ul {
	list-style: none;
}

#bottom ul li {
	float: left;
	width: 25%;
}

#bottom ul li img,#bottom ul li span {
	display: block;
}

#bottom ul li img {
	width: 18px;
	height: 18px;
    margin-top: 6px;
    margin-bottom: -3px;
}
